* {
  padding: 0;
  margin: 0;
}
body {
  height: 2250px;
}
.app {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  font-family: "Poiret One", cursive;
}
/**/
button {
  margin-right: 110px;
  margin-top: 100px;

  background-color: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 15px 18px 30px 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
}
button:hover {
  background: #46ab88 radial-gradient(circle, transparent 1%, #46ab88 1%)
    center/15000%;
  color: white;
}
button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}
/**/
/**/
.flex-1-me {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
  width: 1880px;
  color: black;
}
.inside-1-me {
  display: block;
  background-color: #aae3eb;
  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
}
.icon-1-me {
  border-image-width: 1;
  box-sizing: border-box;
  display: block;
  height: 95px;
  left: 50%;
  margin-left: -75px;
  margin-right: 0;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 150px;
}

/**/
/**/

.flex-1-works {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
.inside-1-works {
  display: block;

  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
}
.icon-1-works {
  border-image-width: 1;
  box-sizing: border-box;
  display: block;
  height: 95px;
  left: 50%;
  margin-left: -75px;
  margin-right: 0;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 150px;
}

/**/

.flex-2-javascript {
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
  width: 935px;
}
.inside-2-javascript {
  display: block;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;

  background-color: #46ab88;
}
.inside-2-javascript h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-2-javascript {
  display: block;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 171px;
}
.icon-2-javascript p {
  margin-bottom: 5px;
}
.icon-2-javascript img {
  height: 150px;
}

/**/

/**/

.flex-2-react {
  text-align: center;

  width: 935px;
}
.inside-2-react {
  display: block;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;

  background-color: #444444;
}
.inside-2-react h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}

.icon-2-react {
  border-top-left-radius: 10px;
  display: block;
  left: 50%;
  margin-left: -70px;
  position: absolute;
  text-align: center;
  top: 30px;

  height: 150px;
}
.icon-2-react p {
  margin-bottom: 5px;
}
.icon-2-react img {
  height: 150px;
}

/**/

/**/

.flex-2-css {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

  text-align: center;
  width: 935px;
}
.inside-2-css {
  display: block;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  color: black;
  background-color: #caedef;
}
.inside-2-css h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-2-css {
  border-top-left-radius: 10px;
  display: block;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 171px;
}
.icon-2-css p {
  margin-bottom: 5px;
}
.icon-2-css img {
  height: 150px;
}

/**/
/**/

.flex-2-html {
  padding-right: 10px;
  padding-top: 10px;

  text-align: center;
  width: 935px;
}
.inside-2-html {
  display: block;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;

  background-color: #ba545e;
}
.inside-2-html h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-2-html {
  border-top-left-radius: 10px;
  display: block;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 171px;
}
.icon-2-html p {
  margin-bottom: 5px;
}
.icon-2-html img {
  height: 150px;
}
/**/

/**/
.flex-3-git {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
  color: black;
}
.inside-3-git {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  background-color: #f6f4ed;
}
.inside-3-git h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-git {
  border-top-left-radius: 10px;
  display: block;
  height: 111px;
  left: 50%;
  margin-left: -190px;
  position: absolute;
  text-align: center;
  top: 100px;
  width: 171px;
  display: flex;
}
.icon-3-git p {
  margin-bottom: 5px;
}
.icon-3-git img {
  height: 75px;
}
/**/
/**/
.flex-3-firebase {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
  color: black;
}
.inside-3-firebase {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;

  background-color: #b1ad83;
}
.inside-3-firebase h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-firebase {
  border-top-left-radius: 10px;
  display: block;
  height: 111px;
  left: 50%;
  margin-left: -220px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 171px;
}
.icon-3-firebase p {
  margin-top: -45px;
  margin-left: 50px;
  padding-left: 190px;
}
.icon-3-firebase img {
  height: 150px;
}
/**/
/**/
.flex-3-npm {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-npm {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #aae3eb;
}
.inside-3-npm h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-npm {
  border-top-left-radius: 10px;
  display: block;
  height: 111px;
  left: 37%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 171px;
}
.icon-3-npm p {
  margin-top: -26px;
  margin-left: 5px;
}
.icon-3-npm img {
  height: 150px;
}
/**/
/**/
.flex-3-formatters {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
  color: black;
}
.inside-3-formatters {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;

  background-color: #f4eb93;
}
.inside-3-formatters h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-formatters {
  border-top-left-radius: 10px;
  display: block;
  height: 111px;
  margin-left: 0px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 171px;
  margin-left: 40px;
}
.icon-3-formatters p {
  margin-top: -5px;
  margin-bottom: 10px;
}
.icon-3-formatters .img-1 {
  position: absolute;
  height: 150px;
  margin-left: 27px;
  margin-top: 10px;
}
.icon-3-formatters .img-2 {
  position: absolute;
  height: 150px;
  margin-left: 90px;
}
.eslint {
  margin-left: 300px;
}
/**/
/**/
.flex-3-redux {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-redux {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;

  background-color: #475163;
}
.inside-3-redux h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-redux {
  border-top-left-radius: 10px;
  display: block;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 171px;
}
.icon-3-redux p {
  margin-bottom: 5px;
  margin-top: -5px;
  margin-left: 10px;
}
.icon-3-redux img {
  height: 140px;
}
/**/
/**/
.flex-3-frameworks {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-frameworks {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #46ab88;
}
.inside-3-frameworks h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-frameworks {
  border-top-left-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 300px;
}
.icon-3-frameworks p {
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: -100px;
}
.icon-3-frameworks img {
  height: 90px;
  padding-bottom: 5px;
}
/**/
/**/
.flex-1-works {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
  width: 1880px;
  color: black;
}
.inside-1-works {
  display: block;
  background-color: #aae3eb;

  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
}
.icon-1-works {
  border-image-width: 1;
  box-sizing: border-box;
  display: block;
  height: 95px;
  left: 50%;
  margin-left: -75px;

  margin-top: -10px;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 150px;
}
.icon-1-works p {
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: -100px;
}
.icon-1-works img {
  height: 150px;
  padding-bottom: 5px;
  color: white;
}

/**/

/**/
/**/
.flex-3-game {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-game {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #ba545e;
}

.icon-3-game {
  border-top-left-radius: 10px;

  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 300px;
}
.icon-3-game button {
  margin-top: 75px;
  margin-left: 10px;
}
.icon-3-game button:hover {
  background: #ba545e radial-gradient(circle, transparent 1%, #ba545e 1%)
    center/15000%;
  color: white;
}
.icon-3-game button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}

.icon-3-game p {
  margin-bottom: 5px;
  margin-top: 100px;
  margin-left: -200px;
  margin-right: -75px;
}
.icon-3-game img {
  margin-right: -80px;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  shape-outside: border-box;
  transition: ease-in-out 1s;
  float: right;
}
.icon-3-game img:hover {
  width: 90%;
  height: 90%;
}

/**/
/**/
/**/
.flex-3-todo {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-todo {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #444444;
}

.icon-3-todo {
  border-top-left-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 300px;
}
.icon-3-todo button {
  margin-top: 33px;
  margin-left: 40px;
}

.icon-3-todo button:hover {
  background: #444444 radial-gradient(circle, transparent 1%, #444444 1%)
    center/15000%;
  color: white;
}
.icon-3-todo button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}
.icon-3-todo p {
  margin-bottom: 5px;
  padding-top: 50px;
  margin-left: -200px;
  margin-right: -75px;
}
.icon-3-todo img {
  height: 90px;
  padding-bottom: 5px;
}
/**/
/**/
/**/
.flex-3-covid-tracker {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
  color: black;
  font-weight: 900px;
}
.inside-3-covid-tracker {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #f4eb93;
}
.inside-3-covid-tracker h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-covid-tracker {
  border-top-left-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 300px;
}
.icon-3-covid-tracker button {
  margin-top: 27px;
  margin-left: 40px;
}

.icon-3-covid-tracker button:hover {
  background: #f4eb93 radial-gradient(circle, transparent 1%, #f4eb93 1%)
    center/15000%;
  color: black;
}
.icon-3-covid-tracker button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}
.icon-3-covid-tracker p {
  margin-bottom: 5px;

  margin-left: -200px;
  margin-right: -75px;
}
.icon-3-covid-tracker img {
  height: 90px;
  padding-bottom: 5px;
}
/**/
/**/
/**/
.flex-3-netflix-clone {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-netflix-clone {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #b1ad83;
}
.inside-3-netflix-clone h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-netflix-clone {
  border-top-left-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 300px;
}
.icon-3-netflix-clone button {
  margin-top: 30px;
  margin-left: 40px;
}

.icon-3-netflix-clone button:hover {
  background: #b1ad83 radial-gradient(circle, transparent 1%, #b1ad83 1%)
    center/15000%;
  color: black;
}
.icon-3-netflix-clone button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}
.icon-3-netflix-clone p {
  margin-bottom: 5px;

  margin-left: -200px;
  margin-right: -75px;
}
.icon-3-netflix-clone img {
  height: 90px;
  padding-bottom: 5px;
}
/**/

/**/
.flex-3-spotify-clone {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-spotify-clone {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #46ab88;
}
.inside-3-spotify-clone h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-spotify-clone {
  border-top-left-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 300px;
}
.icon-3-spotify-clone button {
  margin-top: 10px;
  margin-left: 40px;
}

.icon-3-spotify-clone button:hover {
  background: #46ab88 radial-gradient(circle, transparent 1%, #46ab88 1%)
    center/15000%;
  color: black;
}
.icon-3-spotify-clone button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}
.icon-3-spotify-clone p {
  margin-bottom: 5px;

  margin-left: -200px;
  margin-right: -75px;
}
.icon-3-spotify-clone img {
  height: 90px;
  padding-bottom: 5px;
}
/**/
/**/
/**/
.flex-3-clone {
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  width: 622px;
}
.inside-3-clone {
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 200px;
  position: relative;
  text-align: center;
  margin-right: 5px;
  background-color: #475163;
}
.inside-3-clone h4 {
  top: 5px;
  left: 5px;
  position: absolute;
}
.icon-3-clone {
  border-top-left-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 111px;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 300px;
}
.icon-3-clone button {
  margin-top: 10px;
  margin-left: 40px;
}

.icon-3-clone button:hover {
  background: #475163 radial-gradient(circle, transparent 1%, #475163 1%)
    center/15000%;
  color: black;
}
.icon-3-clone button:active {
  background-color: white;
  background-size: 100%;
  transition: background 0s;
}
.icon-3-clone p {
  margin-bottom: 5px;

  margin-left: -200px;
  margin-right: -75px;
}
.icon-3-clone img {
  height: 90px;
  padding-bottom: 5px;
}
/**/
/**/
.navbar {
  display: flex;
  height: 20px;
  width: 1000px;
  color: black;
  font-weight: 900px;
}

.left-navbar {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}
.left-navbar p {
  margin-left: 20px;
}
.left-navbar a {
  text-decoration: none;
  color: black;
}
