@media screen and (max-width: 768px) {
  .big-flex-parent {
    grid-template-rows: repeat(1, 1fr) !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .small-flex-parent {
    grid-template-rows: repeat(2, 1fr) !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .small-flex-img {
    height: 100px !important;
    width: 90% !important;
  }
  .project-info {
    display: none !important;
  }
  .about-the-project-button {
    display: none !important;
  }
  .big-flex-title {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 0px !important;
  }
  .big-flex-title h1 {
    font-size: 16px !important;
  }
  .big-flex-title2 h1 {
    font-size: 16px !important;
  }
  .small-flex-title {
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: unset !important;
  }
  .small-flex-title h1 {
    font-size: 13px !important;
  }
  .small-flex-title2 h1 {
    font-size: 12px !important;
  }
  .small-flex-parent {
    margin-top: 150px !important;
  }
  .projects-flex-grid {
    margin-top: 500px !important;
  }
  .main-infos p {
    font-size: 16px !important;
  }
  .hola-gif {
    scale: 0.85 !important;
  }
  .main-infos p {
    line-height: 50px !important;
  }
  .seriousness {
    display: none !important;
  }
  .project {
    height: 300px !important;
  }
}

/*Desktop*/
/*Desktop*/
@media (min-width: 992px) {
  .small-flex-box:after {
    font-size: 40px !important;
  }
  .seriousness {
    font-size: 15px !important;
  }
  .project-p1 {
    margin-left: 50% !important;
  }
  .mobile-big {
    scale: 0.95;
  }
  /*
  .project1-img1:hover ~ .project1-p1 {
    margin-left: 45% !important;
    width: 70%;
  }
  .project1-img2:hover ~ .project1-p2 {
    margin-left: 45% !important;
    width: 70%;
  }
  .project1-img3:hover ~ .project1-p3 {
    margin-left: 62% !important;
    width: 70%;
  }
  .project1-img4:hover ~ .project1-p4 {
    margin-left: 67.5% !important;
    width: 70%;
  }
  .project1-img5:hover ~ .project1-p5 {
    margin-left: 67.5% !important;
    width: 70%;
  }
  .project1-img6:hover ~ .project1-p6 {
    margin-left: 67.5% !important;
    width: 70%;
  }
  .project1-img7:hover ~ .project1-p7 {
    margin-left: 67.5% !important;
    width: 70%;
  }

  .project1-img8:hover ~ .project1-p8 {
    margin-left: 45% !important;
    width: 70%;
  }

  .project2-img1:hover ~ .project2-p1 {
    margin-left: 64% !important;
    width: 70%;
  }
  .project2-img1:hover + .project2-big-img1 {
    margin-bottom: 150px !important;
  }
  .project2-img2:hover ~ .project2-p2 {
    margin-left: 37.5% !important;
    width: 70%;
  }
  .project2-img3:hover ~ .project2-p3 {
    margin-left: 64% !important;
    width: 70%;
  }
  .project2-img4:hover ~ .project2-p4 {
    margin-left: 64% !important;
    width: 70%;
  }
  */
}

@media (min-width: 1101px) {
  /*
  .project1-img1:hover ~ .project1-p1 {
    margin-left: 43% !important;
    width: 70%;
  }
  .project1-img2:hover ~ .project1-p2 {
    margin-left: 43% !important;
    width: 70%;
  }
  .project1-img3:hover ~ .project1-p3 {
    margin-left: 59% !important;
    width: 70%;
  }
  .project1-img4:hover ~ .project1-p4 {
    margin-left: 64% !important;
    width: 70%;
  }
  .project1-img5:hover ~ .project1-p5 {
    margin-left: 64% !important;
    width: 70%;
  }
  .project1-img6:hover ~ .project1-p6 {
    margin-left: 64% !important;
    width: 70%;
  }
  .project1-img7:hover ~ .project1-p7 {
    margin-left: 64% !important;
    width: 70%;
  }
  .project1-img8:hover ~ .project1-p8 {
    margin-left: 43% !important;
    width: 70%;
  }

  .project2-img1:hover ~ .project2-p1 {
    margin-left: 53% !important;
    width: 70%;
  }

  .project2-img2:hover ~ .project2-p2 {
    margin-left: 31% !important;
    width: 70%;
  }
  .project2-img3:hover ~ .project2-p3 {
    margin-left: 53% !important;
    width: 70%;
  }
  .project2-img4:hover ~ .project2-p4 {
    margin-left: 52.5% !important;
    width: 70%;
  }
  */
}
@media (min-width: 1201px) {
  .small-flex-box:after {
    font-size: 60px !important;
  }
  .main-infos p {
    line-height: 90px !important;
  }
  /*
  .project1-img1:hover ~ .project1-p1 {
    margin-left: 35.5% !important;
    width: 70%;
  }
  .project1-img2:hover ~ .project1-p2 {
    margin-left: 36% !important;
    width: 70%;
  }
  .project1-img3:hover ~ .project1-p3 {
    margin-left: 48.5% !important;
    width: 70%;
  }
  .project1-img4:hover ~ .project1-p4 {
    margin-left: 53% !important;
    width: 70%;
  }
  .project1-img5:hover ~ .project1-p5 {
    margin-left: 53% !important;
    width: 70%;
  }
  .project1-img6:hover ~ .project1-p6 {
    margin-left: 53% !important;
    width: 70%;
  }
  .project1-img7:hover ~ .project1-p7 {
    margin-left: 53% !important;
    width: 70%;
  }
  .project1-img8:hover ~ .project1-p8 {
    margin-left: 36% !important;
    width: 70%;
  }

  .project2-img1:hover ~ .project2-p1 {
    margin-left: 44% !important;
    width: 70%;
  }

  .project2-img2:hover ~ .project2-p2 {
    margin-left: 26% !important;
    width: 70%;
  }
  .project2-img3:hover ~ .project2-p3 {
    margin-left: 44% !important;
    width: 70%;
  }
  .project2-img4:hover ~ .project2-p4 {
    margin-left: 44% !important;
    width: 70%;
  }
  */
}

@media (min-width: 1401px) {
  .small-flex-box:after {
    font-size: 70px !important;
  }
  .main-infos p {
    line-height: 120px !important;
  }
  .seriousness {
    font-size: 15px !important;
  }

  /*
  .project1-img1:hover ~ .project1-p1 {
    margin-left: 29.5% !important;
    width: 70%;
  }
  .project1-img2:hover ~ .project1-p2 {
    margin-left: 29.5% !important;
    width: 70%;
  }
  .project1-img3:hover ~ .project1-p3 {
    margin-left: 40.5% !important;
    width: 70%;
  }
  .project1-img4:hover ~ .project1-p4 {
    margin-left: 44% !important;
    width: 70%;
  }
  .project1-img5:hover ~ .project1-p5 {
    margin-left: 44% !important;
    width: 70%;
  }
  .project1-img6:hover ~ .project1-p6 {
    margin-left: 44% !important;
    width: 70%;
  }
  .project1-img7:hover ~ .project1-p7 {
    margin-left: 44% !important;
    width: 70%;
  }
  .project1-img8:hover ~ .project1-p8 {
    margin-left: 30% !important;
    width: 70%;
  }
  */
}
/*Desktop*/
/*Desktop*/
